{
    "printWidth": 80,
    "tabWidth":2,
    "proseWrap": "preserve",
    "useTabs": false,
    "semi":true,
    "singleQuote": false,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "bracketSpacing": false,
    "bracketSameLine": false
}
